.LandingPageParent {

    background-color: #f1eade;
    max-width: 100%;
    margin-top: none;
    display: flex;
}

.SlideOne {
    max-width: 100%;
    text-align: center;
    height: 720px;
}

.SlideOne-text {
    max-width: 100%;
    margin-left: 10em;
    margin-top: 12em;
}

.slideOne-image {
    max-width: 100%;
}

img{
    display: block;
    text-align: center;
    margin-left: 5em;
    margin-right: auto;
    max-width: 100%;
    height: 650px;

}

.HomeButtons {
    display: inline-flex;
    text-align: center;
    margin-left: 10em;
    margin-top: 1em;
}

.LogInButton {
    background-color: rgb(20, 118, 199);
    color: white;
    border: none;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 10px;
    border-radius: 5px 5px;
    width: 15em;
    height: 3em;
    text-decoration: none;
    text-align: center;
}

.SignUpButton {
    background-color: rgb(124, 119, 124);
    color: white;
    border: none;
    margin-left: 2%;
    margin-bottom: 5%;
    padding: 10px;
    border-radius: 5px 5px;
    width: 15em;
    height: 3em;
    text-decoration: none;
}
