.profileParent {
    background-color: #f1eade;
}

.storyHeader {
    display: inline-flex;
    margin-top: 1em;
    margin-left: 1em;
}

.clubsHeader {
    display: inline-flex;
    margin-top: 1em;
    margin-left: 1em;
}

.storyHeaderTitle {
    margin-right: em;
}

.clubsHeaderTitle {
    margin-right: em;
}

.uploadButtonProfile {
    background-color: rgb(20, 118, 199);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px 5px;
    width: 5em;
    height: 3em;
    text-decoration: none;
    text-align: center;
    margin-left: .5em;
    margin-right: 50em;
}

.createClubButtonProfile {
    background-color: rgb(20, 118, 199);
    color: white;
    border: none;
    padding: 9px;
    border-radius: 5px 5px;
    width: 10em;
    height: 3em;
    text-decoration: none;
    text-align: center;
    margin-right: 50em;

}

.bookClubsParentProfile {
    margin-top: 1em;
    display: inline-flex;
    max-width: 100%;
    margin-left: 1em;
}

.clubCardProfile {
    width: 28em;
    margin-bottom: 2em;
    margin-bottom: 2em;
}

.exploreParentProfile {
    margin-top: 1em;
    display: inline-flex;
    max-width: 100%;
    margin-left: 1em;
}

.storyCardProfile {
    width: 27em;
    height: 13em;
    margin-bottom: 2em;
}