.profileParent {
    background-color: #f1eade;
    min-height: 700px;
}

.storyHeader {
    display: inline-flex;
    margin-top: 1em;
    margin-left: 1em;
    border-bottom: solid 1px black;
    width: 100%;
}

.uploadButtonProfile {
    background-color: rgb(20, 118, 199);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px 5px;
    width: 5em;
    height: 3em;
    text-decoration: none;
    text-align: center;
    margin-left: .5em;
}

.createClubButtonProfile {
    background-color: rgb(20, 118, 199);
    color: white;
    border: none;
    padding: 9px;
    border-radius: 5px 5px;
    width: 8em;
    height: 3em;
    text-decoration: none;
    text-align: center;
    margin-left: 1em;

}

.exploreParentProfile {
    margin-top: 1em;
    max-width: 100%;
}

.cardProfile {
    width: 27em;
    height: 13em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.downloadButton {
    background-color: rgb(20, 118, 199);
    color: white;
    border: none;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 10px;
    border-radius: 5px 5px;
    width: 15em;
    height: 3em;
    text-decoration: none;
    text-align: center;
}

.headerTitle {
    display: inline-flex;
}