.navbar {
    height: 80 px;
    max-width: 100%;
    background-color: #f1eade;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 2rem;
    font-size: 1.2rem;
}

.nav-logo {
    text-decoration: none;
    color: black;
    font-size: 2.0rem;
}

.nav-links {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: black;
    transition: 0.3s all;
}

.nav-link:hover {
    color: grey;
}

.nav-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}