.exploreParent {
    margin-top: 1em;
    display: inline-flex;
    max-width: 100%;
    margin-left: 1em;
    margin-right: .5em;
    min-height: 700px;;
}

.storyCard {
    width: 27em;
    height: 13em;
    margin-bottom: 2em;
    margin-right: 1em;
    margin-left: 1em;
}